.LeftSideBar{
    position: absolute;
    left:  0;
    background: #c6c6c6;
    height: 100%;
    width: 16%;
    color: #fff;
}
.list-container{
    
    margin: 25px;
    align-items: center;
    display: inline-block;

}
.list-container-item{
    text-decoration: none;
    color: #000;
    padding: 15x;
    font-weight: 900;
    display: inline;
}
.list-container-item:hover{
    color: #fff;
    padding: 15x;
    background-color: teal;
    font-size: 16px;

}
